/*未选中样式*/
.circle-no {
    float: left;
    width: 10px;
    height: 10px;
    background-color: #9e9e9e;
    border-radius: 100%;
    border: 2px solid transparent;
}

.line-no {
    float: left;
    margin-top: 5px;
    border: 0;
    border-bottom: #9e9e9e 2px dashed;
    height: 0;
}

/*选中样式*/
.circle-ok {
    float: left;
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 100%;
    border: 2px solid transparent;
}

.line-ok {
    float: left;
    margin-top: 5px;
    border: 0;
    border-bottom: orange 2px solid;
    height: 0;
}

/*name 样式*/
.name {
    position: absolute;
    z-index: 99;
    font-size: 10px;
    top: 20px;
}